@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Black.woff2") format("woff2"), url("Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ExtraBold.woff2") format("woff2"), url("Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.woff2") format("woff2"), url("Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Light.woff2") format("woff2"), url("Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ExtraLight.woff2") format("woff2"), url("Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBold.woff2") format("woff2"), url("Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Thin.woff2") format("woff2"), url("Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main .hero {
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643e72 100%);
  border-radius: 0 0 12px 12px;
  padding: 0px 0px 60px 0px;
}
main .hero .wrapper {
  width: 315px;
  margin-left: auto;
  margin-right: auto;
}
main .hero .wrapper .services .services-content {
  margin-bottom: 30px;
}
main .hero .wrapper .services .services-content a {
  display: block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #24a3ff;
  text-decoration: none;
  margin-bottom: 10px;
}
main .hero .wrapper .services .services-content a:hover {
  color: #f0145a;
}
main .hero .wrapper .services .services-content h2 {
  font-weight: 700;
  font-size: 38px;
  background: linear-gradient(-298deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
main .hero .wrapper .services .services-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
main .hero .wrapper .services .services-boxes .services-box {
  width: 315px;
}
main .hero .wrapper .services .services-boxes .services-box .services-box-image {
  padding: 14px;
  background-color: #fff;
  border-radius: 24px;
  width: 92px;
  height: 92px;
  margin-bottom: 30px;
}
main .hero .wrapper .services .services-boxes .services-box h3 {
  font-weight: 700;
  font-size: 22px;
  color: #24a3ff;
  margin-top: 0;
  margin-bottom: 15px;
}
main .hero .wrapper .services .services-boxes .services-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
  margin: 0;
}
main .line-hero-bottom {
  height: 10px;
  background-color: #cacadb;
  border-radius: 0 0 12px 12px;
  margin-left: 20px;
  margin-right: 20px;
}
main .line-hero-bottom-second {
  height: 10px;
  background-color: #e7e7f2;
  border-radius: 0 0 12px 12px;
  margin-left: 40px;
  margin-right: 40px;
}

@media (min-width: 768px) {
  main .hero .wrapper {
    width: 648px;
  }
  main .hero .wrapper .services .services-content {
    margin-bottom: 60px;
  }
  main .hero .wrapper .services .services-boxes .services-box {
    width: 294px;
  }
}
@media (min-width: 1024px) {
  main .hero .wrapper {
    width: 904px;
  }
  main .hero .wrapper .services .services-content {
    margin-bottom: 60px;
  }
  main .hero .wrapper .services .services-boxes .services-box {
    width: 261px;
  }
}
@media (min-width: 1440px) {
  main .hero .wrapper {
    width: 1320px;
  }
  main .hero .wrapper .services .services-content {
    margin-bottom: 60px;
  }
  main .hero .wrapper .services .services-boxes .services-box {
    width: 400px;
  }
}
@media (min-width: 1920px) {
  main .hero .wrapper {
    width: 1600px;
  }
  main .hero .wrapper .services .services-content {
    margin-bottom: 60px;
  }
  main .hero .wrapper .services .services-boxes .services-box {
    width: 493.1px;
  }
}
.sponsors .wrapper {
  margin-left: auto;
  margin-right: auto;
}
.sponsors .wrapper h3 {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 30px;
  margin-top: 0;
}
.sponsors .wrapper .sponsors-cards a:nth-child(n+7) {
  display: none;
}
.sponsors .wrapper .sponsors-cards .sponsors-card {
  display: flex;
  width: 100%;
  height: 120px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sponsors .wrapper .sponsors-cards .sponsor-1 {
  background-color: #1c4280;
}
.sponsors .wrapper .sponsors-cards .sponsor-2 {
  background-color: #143646;
}
.sponsors .wrapper .sponsors-cards .sponsor-3 {
  background-color: #f48b30;
}
.sponsors .wrapper .sponsors-cards .sponsor-4 {
  background-color: #9e4dc3;
}
.sponsors .wrapper .sponsors-cards .sponsor-5 {
  background-color: #fd9339;
}
.sponsors .wrapper .sponsors-cards .sponsor-6 {
  background-color: #e2e2e4;
}
.sponsors .wrapper .sponsors-cards .sponsor-7 {
  background-color: #c71c36;
}
.sponsors .wrapper .sponsors-cards .sponsor-8 {
  background-color: #dcf3f9;
}
.sponsors .wrapper .sponsors-cards .sponsor-9 {
  background-color: #eaeaea;
}
.sponsors .wrapper .sponsors-cards .sponsor-10 {
  background-color: #282240;
}
.sponsors .wrapper .sponsors-cards .sponsor-11 {
  background-color: #1d4568;
}
.sponsors .wrapper .sponsors-cards .sponsor-12 {
  background-color: #000;
}

@media (min-width: 768px) {
  .sponsors .wrapper {
    width: 768px;
  }
  .sponsors .wrapper .sponsors-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sponsors .wrapper .sponsors-cards a:nth-child(n+7) {
    display: flex;
  }
  .sponsors .wrapper .sponsors-cards .sponsors-card {
    width: 256px;
  }
}
@media (min-width: 1024px) {
  .sponsors .wrapper {
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .sponsors .wrapper {
    width: 1440px;
  }
  .sponsors .wrapper .sponsors-cards .sponsors-card {
    width: 360px;
  }
}
@media (min-width: 1920px) {
  .sponsors .wrapper {
    width: 1720px;
  }
  .sponsors .wrapper .sponsors-cards .sponsors-card {
    width: 430px;
  }
  .sponsors .wrapper .sponsors-cards .sponsor-1 {
    border-top-left-radius: 12px;
  }
  .sponsors .wrapper .sponsors-cards .sponsor-4 {
    border-top-right-radius: 12px;
  }
  .sponsors .wrapper .sponsors-cards .sponsor-9 {
    border-bottom-left-radius: 12px;
  }
  .sponsors .wrapper .sponsors-cards .sponsor-12 {
    border-bottom-right-radius: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
