.hero-head {
    height: 100vh;
    background-image: url(../images/head-images/back-image-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    .hero-info {
        background-color: rgba(245, 245, 250, 0.2);
        padding: 12.5px 0;
        position: sticky;
        top: 0;

        .hero-wrapper {
            width: 345px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hero-info-lang {
                display: flex;

                p {
                    margin: 0;
                    padding: 5px 7px;
                    font-weight: 700;
                    font-size: 12px;
                    letter-spacing: 0.08em;
                    text-align: center;
                    color: #fff;
                }

                p:last-child {
                    background-color: #f0145a;
                    border-radius: 8px;
                }
            }

            a[href*="tel"] {
                font-weight: 700;
                font-size: 16px;
                text-align: right;
                color: #fff;
                text-decoration: none;
            }

            .mb-only {
                display: none;
            }
        }
    }

    .hero-wrapper-bottom {
        width: 345px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 48.8px);

        .hero-logos {

            display: flex;
            justify-content: space-between;

            .hero-logo {
                margin: 15px 0;
                display: flex;
                gap: 4px;
                align-items: start;

                p {
                    font-weight: 400;
                    font-size: 20px;
                    color: #fff;
                    margin: 0;
                }
            }

            .hero-links {
                a {
                    margin-top: 8.5px;
                    display: block;
                }

                .hero-links-menu {
                    display: none;
                }
            }
        }

        .hero-content {
            h1 {
                font-weight: 700;
                font-size: 38px;
                text-align: center;
                color: #fff;
                margin: 0;
            }
        }

        .hero-down {
            margin: 0 auto 30px;

        }
    }
}


@media (min-width: 768px) {
    .hero-head {
        padding-top: 50px;

        .hero-info {

            background-color: transparent;
            padding: 0;
            margin-bottom: 30px;
            position: relative;

            .hero-wrapper {
                width: auto;
                margin: 0 60px;
                justify-content: start;
                gap: 6px;

                span {
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                    background-color: #e6e6f0;
                }

                p {
                    margin: 0;
                }

                .mb-only {
                    display: flex;

                    font-weight: 400;
                    font-size: 16px;
                    text-align: right;
                    color: #b3b3ba;
                }

                a img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .hero-wrapper-bottom {
            width: auto;
            margin: 0 60px;

            .hero-logos {
                flex-direction: column;
                gap: 30px;

                .hero-logo {
                    margin: 0;

                    img+p {
                        display: none;
                    }

                    a {
                        width: 130px;
                        height: 60px;

                        img {
                            width: 130px;
                            height: 60px;
                        }
                    }
                }

                .hero-links {

                    a {
                        display: none;
                    }

                    .hero-links-menu {
                        display: flex;
                        gap: 15px;

                        a {
                            display: inline;
                            text-transform: uppercase;
                            color: #fff;
                            text-decoration: none;
                            margin: 0;
                            font-weight: 700;
                            font-size: 16px;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 1024px) {
    .hero-head {

        .hero-info {
            .hero-wrapper {

                span {}

            }
        }

        .hero-wrapper-bottom {

            .hero-logos {

                .hero-logo {}

                .hero-links {

                    .hero-links-menu {}
                }
            }
        }
    }
}